<div class="jumbotron">
  <h1> My Quotes </h1>
</div>
<div class="body">
<div class="container">

<div class="container-fluid center">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <hr>
</div>
</div>
</div>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li>{{quote.name}} <br> {{quote.description}} <br> {{quote.submitter}} <br> {{quote.publish|time}}</li>
    <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    <app-upvotes></app-upvotes>
  </div>
</ul>
